.headster {
    font-size: 1.4rem;
    

    &__text-box {
        text-transform: uppercase;
        text-align: center;
        color: $color-primary-dark2
    } 

}

.modules {

    display: flex;  
    margin: 0rem 15rem;
    
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.feature-box {
    background-color: rgba($color-grey-light-1, .8);
    border: solid $color-primary-dark2;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1.5rem;
    width: 20rem;
    height: 25rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;
    cursor: pointer;

    @include respond(tab-port) {
        width: 16rem;
        height: 17rem;
    }

    &:hover {
        transform: scale(1.10);
    }

    &__image img {
        border-radius: 5px;
        width: 15rem; 
        height: 15rem;

        @include respond(tab-port) {
            width: 12rem;
            height: 12rem;
        }
    }

    &__description {
        display: block;

        @include respond(tab-port) {
            display: none;
        }
        
    }
}

.content {
    padding: 3rem;
    display: flex;
    justify-content: center;

    @include respond(tab-port) {
        padding: 0.5rem;
    }

    &__text {
        
        max-width: 700px;
        text-align: center;
    }
}

.body {
    padding-bottom: 20rem;
    
}

.page-container {
    max-width: 120rem;
    margin: 0rem auto;
    margin-top: 10rem;
    background-color:white;
    box-shadow: black;
    min-height: 50rem;
    // background-image: linear-gradient(to right bottom, blue, pink);
    
}

.sudo-body {
    color: var(--color-grey-dark-2);
    // background-image: linear-gradient(to right bottom, blue, pink);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    min-height: 100vh;
}

